<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
<header>
    <div class="menu">
        <a class="menuE" id="ASHHV" href="index.php">ASHHV</a>
        <a class="menuE" id="Tournoi" href="Tournoi.php">Tournoi International René Pruvot</a>
        <a class="menuE" id="Sponsors" href="Sponsors.php">Nos Sponsors</a>
        <a class="menuE" id="Tombola" href="Tombola.php">Tombola</a>
    </div>
    <h1 hidden>ASHHV</h1>
</header>

</body>
</html>